---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import Pills from "../components/Pills.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-16">
      <section class="flex flex-row gap-x-4 py-8">
        <img
          class="size-16 rounded-full bg-white"
          src="/8bitpix.webp"
          alt="Logo for Portfolio"
        />
        <a
          href="https://www.linkedin.com/in/ricardo-gabriel-rouco/"
          target="_blank"
          rel="noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para Trabajar</Badge>
        </a>
      </section>
      <h1 class="text-white text-4xl text-bold flex flex-row gap-x-4 pb-6">
        Hey, soy <span class="title">Gabriel Rouco</span>
      </h1>
      <h2 class="text-xl opacity-85">
        Soy <span class="title">Desarrollador Fullstack</span>, con
        conocimientos en JavaScript, React, Redux, Node.js, Expres.js,
        Typescript y Next.js. Soy una persona que siempre busca agregar
        conocimientos y experiencias nuevas y en constante aprendizaje.
      </h2>
      <Pills />
    </section>
  </main>
</Layout>

<style>
  .title {
    color: #ffcf76;
  }
</style>
