<article
  class="flex flex-col items-center justify-center gap-8 text-black/90 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-amber-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p class="text-pretty">
      Hola, soy Gabriel Rouco. Un desarrollador web que lleva desde los 18 años
      interesado en el mundo de la programacíon pero <span
        class="text-amber-500/75"
        >actualmente estoy en busqueda de mostrar mis habilidades dentro del
        mundo IT</span
      >.
    </p>

    <p>
      Mis primeros logros fueron lograr <span class="text-amber-500/75"
        >implementar buenas practicas en el desarrollo de componentes</span
      > dentro la plataforma Aythen, lo cual <span class="text-amber-500/75"
        >facilito mucho la mantencion y la escalabidad de los nuevos desarrollos</span
      >.
    </p>

    <p>
      Actualmente me encuentro en la búsqueda de nuevos proyectos para poder
      crear un blog donde la <span class="text-amber-500/90"
        >gente pueda darle una segunda vida a productos electrónicos y aprender
        sobre programción en el proceso</span
      >.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={"Gabriel Rouco"}
    class="order-1 object-cover w-64 h-full p-1 bg-gray-600 dark:bg-zinc-300 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
