---
import Mail from "../components/Icons/Mail.astro";
---

<nav class="flex flex-wrap gap-4 mt-8">
  <a
    href="mail.to:r.g.rouco1@gmail.com"
    class="inline-flex items-center justify-center gap-2 px-4 py-1 bg-slate-900 border border-slate-100 border-solid text-white rounded-xl hover:bg-slate-400"
  >
    <Mail class="size-6" />
    Contactame
  </a>
</nav>
